<h1>Upload File</h1>

<%= form_with model: @stored_file, url: stored_files_path do |form| %>
  <%= form.hidden_field :folder_id, value: @folder.id %>

  <div>
    <%= form.label :file_name %>
    <%= form.text_field :file_name %>
  </div>

  <%= form.submit "Upload" %>
<% end %>
