<%= form_with model: @stored_file, multipart: true do |form| %>

  <%= form.hidden_field :folder_id, value: @folder.id %>

  <div class="mb-3">
    <%= form.label :uploaded_file, "Choose a file" %>
    <%= form.file_field :uploaded_file %>
  </div>

  <%= form.submit "Upload", class: "contrast outline" %>

<% end %>
