<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "File Vault" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- The official Pico CSS stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.css">

    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- Our modifications to default Pico CSS styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/firstdraft/pico.firstdraft.css@latest/pico.firstdraft.css">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- Global Navigation -->
    <nav style="
      width: 100%;
      padding: 0.75rem 0;
      border-bottom: 1px solid #e5e5e5;
      background: #fff;
    ">
      <div class="container" 
       style="display: flex; justify-content: space-between; align-items: center;">

        <% if user_signed_in? %>

          <!-- Left side -->
          <div>
            <%= link_to "Dashboard", folders_path,
              class: "contrast outline",
              style: "padding: 0.4rem 1rem;" %>
          </div>

          <!-- Right side -->
          <div>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete,
              class: "btn btn-outline-secondary",
              style: "padding: 0.4rem 1rem;" %>
          </div>

        <% else %>

          <!-- Right side when logged out -->
          <div style="margin-left: auto; display: flex; gap: 10px;">
            <%= link_to "Sign In", new_user_session_path, class: "contrast outline" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "contrast outline" %>
          </div>

        <% end %>

      </div>
    </nav>

    <div class="container mt-3">
      <%= render "shared/flash" %>
    </div>


    <div class="container">
      <%= render "shared/breadcrumbs" if breadcrumbs.any? %>
      <%= yield %>
    </div>

    <!-- Global Footer -->
    <footer class="container mt-5 py-4" style="text-align: center; color: #5f6368; font-size: 0.9rem;">
      <p>© Built by Maia Rowe</p>
    </footer>

  </body>
</html>
